.imagecontent {
    width: 350px;
    height: auto;
    position: relative;
}

.imageposter {
    border-radius: 1rem;
}

.top-rated-content {
    display: flex;
    flex-direction: row;
    margin: 1.25rem 0 1.25rem 0;
    gap: 0.75rem;
}

.movie-index {
    position: absolute;
    padding-left: 0.75rem;
    bottom: -1rem;
    left: -0.75rem;
    font-size: 4.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px #0296E5;
    -webkit-text-fill-color: #242A32;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none,
    }
}

.scrollbar-default {
    -ms-overflow-style: auto;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        display: block;
    }
}