.imagecontent {
    width: 200px;
    height: auto;
    position: relative;
}

.imageposter {
    border-radius: 1rem;
    width: 200px;
}

.top-rated-content {
    display: flex;
    flex-direction: row;
    margin: 1.25rem 0 1.25rem 0;
    gap: 0.75rem;
}

.movie-index {
    position: absolute;
    padding-left: 0.75rem;
    bottom: -1rem;
    left: -0.75rem;
    font-size: 4.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px #0296E5;
    -webkit-text-fill-color: #242A32;
}

@media only screen and (min-width: 640px) {
    .imagecontent{
        width: 220px;
    }
    .imageposter{
        width: 220px;
    }
}

@media only screen and (min-width: 768px) {
    .imagecontent{
        width: 320px;
    }
    .imageposter{
        width: 320px;
    }
}

@media only screen and (min-width: 1024) {
    .imagecontent{
        width: 350px;
    }
    .imageposter{
        width: 350px;
    }
}
