.navbar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid #0296E5;
    background-color: #3A3F47;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navitem{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    align-items: center;
    color: #67686D;
    text-decoration: none;
}

.active{
    stroke: #0296E5;
    color: #0296E5;
}


