.searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: #3A3F47;
    border-radius: 0.75rem;
}

.slider {
    display: flex;
    overflow-x: auto;
}

.slider-top-rated {
    display: flex;
    overflow-x: auto;
}

.slider div {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.heading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 1.5rem 0 1.5rem 0;
    color: white;
    font-weight: bold;
    
}